@import "./../variables.scss";

.header {
  display: grid;
  grid-template-columns: 33.35% 66.65%;

  &__left-side {
    transition: background-color $mainSpeed;
  }

  &__right-side {
    transition: background-color $mainSpeed;
  }

  &__logo {
    margin-top: 119px;
    width: 160px;
    height: 160px;
  }

  &__functions {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  &__title {
    margin: 46px 0 0 -3px;
    font-weight: 800;
    font-size: 64px;
    line-height: 88px;
    color: $accentColor;
  }

  &__more-info {
    display: flex;
  }

  &__desired-position {
    margin-top: -2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    transition: color $mainSpeed;
  }

  &__social-links {
    margin-top: -4px;
    display: flex;
    margin-left: auto;
  }

  &__social-link {
    display: flex;
    width: 24px;
    height: 24px;
    transition: background-color $mainSpeed;
    border-radius: 4px;

    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &__telegram-icon {
    margin: 6px auto auto 6px;
  }

  &__instagram-icon {
    margin: auto;
  }

  &__vk-icon {
    margin: auto;
  }

  &__hr {
    border: none;
    height: 1px;
    transition: background-color $mainSpeed;
    margin: 79px 0 20px 0;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
  }

  &__contact {
    &-title {
      margin-bottom: 4px;
      font-weight: 800;
      font-size: 12px;
      line-height: 16px;
      transition: color $mainSpeed;
    }
    &-content {
      vertical-align: middle;
      font-size: 12px;
      line-height: 16px;

      &:not(.header__contact-address) {
        color: $accentColor;
        text-decoration: none;
      }
    }
    &-address {
      transition: color $mainSpeed;
    }
  }
}

.switch-language {
  display: flex;
  align-items: center;

  @mixin textStyle {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }

  &__subscription {
    margin-right: 8px;
    transition: color $mainSpeed;
    @include textStyle;
  }

  &__button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @include textStyle;

    &_active {
      color: $accentColor !important;
      text-decoration-line: underline;
    }
  }

  &__slash {
    margin: 0 3px;
    transition: color $mainSpeed;
    @include textStyle;
  }
}

.switch-topic {
  position: relative;
  padding: 6px 0;
  margin-left: auto;
  cursor: pointer;

  &__input {
    position: absolute;
    opacity: 0;

    &:focus + .switch-topic__slider:before {
      outline: #15469b auto 5px;
    }
  }
  &__slider {
    position: relative;
    box-sizing: border-box;
    width: 30px;
    height: 4px;
    background-color: $darkText_2;
    border-radius: 10px;

    &:before {
      content: "";
      position: absolute;
      left: 2px;
      top: -6px;
      width: 16px;
      height: 16px;
      box-shadow: 0px 0px 3px rgba(153, 153, 153, 0.6);
      border-radius: 40px;
      transition: left $mainSpeed, background-color $mainSpeed;
    }
  }
}

.theme_light {
  .header {
    &__left-side {
      background-color: $lightBg_1;
    }

    &__right-side {
      background-color: $lightBg_3;
    }

    &__desired-position {
      color: $lightText_3;
    }

    &__social-link {
      background-color: $lightBg_4;
    }

    &__hr {
      background-color: $lightHr;
    }

    &__contact-title {
      color: $lightText_4;
    }

    &__contact-address {
      color: $lightText_5;
    }
  }

  .switch-language {
    &__subscription {
      color: $lightText_1;
    }
    &__slash {
      color: $lightText_4;
    }
    &__button {
      color: $lightText_2;
    }
  }

  .switch-topic {
    &__slider:before {
      background-color: $darkBg_1;
    }
  }
}

.theme_dark {
  .header {
    &__left-side {
      background-color: $darkBg_1;
    }

    &__right-side {
      background-color: $darkBg_4;
    }

    &__desired-position {
      color: $darkText_1;
    }

    &__social-link {
      background-color: $darkBg_5;
    }

    &__hr {
      background-color: $darkHr;
    }

    &__contact-title {
      color: $darkText_3;
    }

    &__contact-address {
      color: $darkText_1;
    }
  }

  .switch-language {
    &__subscription {
      color: $darkText_1;
    }
    &__slash {
      color: $darkText_3;
    }
    &__button {
      color: $darkText_2;
    }
  }

  .switch-topic {
    &__input {
      &:checked + .switch-topic__slider:before {
        left: 12px;
      }
    }
    &__slider:before {
      background-color: $accentColor;
    }
  }
}
