// Цвета для фонов
$gray: #1f1f1f;
$mineShaft: #292929;
$black: #000000;
$codGray: #111111;

// Цвета для текста
$white: #ffffff;
$silver: #cccccc;
$doveGray: #666666;
$athensGray: #e3e5e8;

// Основной акцентный цвет текста
$buttercup: #f1b10d;

// Светлый цвет полосы
$lightHr: #333333;
